<h1>The Home Page</h1>

<h2>Enter the exercise</h2>
<form method ="POST">
  <label for="exName">Name:</label>
  <input id="exName" type="text" name="name">

  <label for="exReps">Reps:</label>
  <input id="exReps" type="text" name="reps">

  <label for="exWeight">Weight:</label>
  <input id="exWeight" type="text" name="weight">

  <label for="exDate">Date:</label>
  <input id="exDate" type="date" name="date">

  <label for="exImperial">lbs? (Leave unchecked for kg)</label>
  <input id="exImperial" name="imperialFlag" type="checkbox" value="checked">
  <br/>
  <input type="submit" name="add" value="add">

<table>
  <th>
    <td>Name</td>
    <td>Reps</td>
    <td>Weight</td>
    <td>date</td>
  </th>

</table>

{{results}}
